.project {
	width: 200px;
	color: white;
	cursor: pointer;
	font-size: 200%;
	font-weight: lighter;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #0EBFE9;
	padding: 5px;
	border-radius: 5px;   
}

.project:hover {
	background: #0EBFFB;
}

.tuner canvas {
	margin-top: -300px;
}
